<% content_for :content do %>
    <div id="comment_form_container">
      <div class="contents_container">
        <section class="contents_left_column">
          <div class="contents">
            <div class="profile_image_container">
              <%= link_to "<picture class='rounded-5 profile_image ease'></picture>".html_safe, "/profile/#{@comment.user.username}", class: "default-avatar tooltipOn", data: { :toggle => "tooltip", :placement => "bottom" }, title: "#{name_mapper(@comment.user)}" %>
            </div>
            <%= simple_form_for(@comment, url: comment_update_post_path(@comment.id), method: :put) do |f| %>
                <%= f.hidden_field :parent_id %>
                <%= f.input :commentable_id, :as => :hidden, :value => @comment.commentable_id %>
                <%= f.input :commentable_type, :as => :hidden, :value => @comment.commentable_type %>
                <%= f.input :body, placeholder: t("comment.placeholder.line_break"), required: true, label: false, wrapper: false, input_html: { class: "content rounded-5" } %>
                <%= f.button :submit, class: "submit WS_submit", value: t("system.text.save") %>
            <% end %>
          </div>
        </section>
      </div>
    </div>
<% end %>