<table class="table">
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>제목</th>-->
    <!--<th>작성자</th>-->
    <!--<th>액션</th>-->
  <!--</tr>-->
  <!--</thead>-->

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td class="col-md-6 col-xs-6"><%= post.title %></td>
        <td><%= post.user.present? ? post.user.email : "n/a" %>, <%= time_ago_in_words(post.created_at) %></td>
        <td>
          <%= link_to br3_icon("eye-open"), post %>&nbsp;
          <%= link_to br3_icon("edit"), edit_post_path(post) if can? :edit, post %>&nbsp;
          <%= link_to br3_icon("trash"), post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-default" if signed_in? %>