<style type="text/css">
    #notificationModal_container .profile_image{background-image: <% if current_user.gender == "male" %>url(".<%= asset_path('default_avatar/male.png') %>");<% else %>url("<%= asset_url('default_avatar/female.png') %>");<% end %>}
</style>
<div id="dashboard">
  <div class="header_container">
    <div class="header">

      <div id="writePostModal_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
         <div class="wrapper">
           <div class="modal_header">
             <h5 class="title">TIMELINE</h5>
           </div>
           <div class="modal_body">
             <form role="form">
               <textarea class="contents rounded-10 ease" rows="3" autofocus required placeholder="Tell the world what's on your mind"></textarea>
               <button type="submit" class="submit rounded-10 ease">SUBMIT</button>
             </form>
           </div>
         </div>
      </div>

      <div id="notificationModal_container" class="modal fade rounded-5-bottom-left rounded-5-bottom-right" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
         <div class="wrapper">
           <div class="modal_arrow"></div>
           <div class="modal_header rounded-5-top-left rounded-5-top-right">
             <h5 class="title"><a href="#notification_center">Notification</a></h5>
             <span class="settings"><a href="#settings" class="icon-setting-gear"></a></span>
           </div>
           <div class="modal_body">
             <ul>
               <li class="ease">
                 <a href="#01">
                   <!-- 썸네일 존재하지 않을때 와 존재할때에 따라서 class명 붙이기 -->
                   <picture class="profile_image rounded-full ease">profile image</picture>
                   <div class="wrapper_01">
                   <p class="narrow_text"><strong class="user">Autumn Heckard</strong><span class="preview"><%= "commented on your photo: \"She's also in a move called Life Happens.\""[0..55].gsub(/\s\w+\s*$/,'...') %></span></p>
                   <picture class="thumnail"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/s110x80/10533490_880767938617867_4129755720465695150_n.jpg"/></picture>
                   <time>3 hrs</time>
                   </div>
                 </a>
               </li>
               <li class="ease">
                 <a href="#02">
                   <picture class="profile_image rounded-full ease">profile image</picture>
                   <div class="wrapper_01">
                   <p class="wide_text"><strong class="user">Yoochan Seo</strong><span class="preview">&nbsp;commented on your post: "I think's this is awesome!"</span></p>
                   <time>3 hrs</time>
                   </div>
                 </a>
               </li>
             </ul>
           </div>
         </div>
      </div>

       <h2 class="logo"><a href="<%= root_path %>">logo</a></h2>
       <nav class="defaultNav">
         <ul>
           <li class="message ease"><a href="#"><i class="icon-bubble-comment-1"></i></a></li>
           <li class="notification ease"><a href="#" data-toggle="modal" data-target="#notificationModal_container" data-backdrop="true" data-keyboard="true"><span class="countItem_02" id="notificationsCountValue">13</span><i class="icon-bell"></i></a></li>
           <li class="quick_write ease"><a href="#" data-toggle="modal" data-target="#writePostModal_container"><i class="icon-pencil-1"></i></a></li>
           <li class="user_settings ease"><a href="#" class="default-avatar"><i class="icon-user-setting-2"></i></a></li>
         </ul>
       </nav>
    </div>
    <div class="sub_header">
      <div class="menu_opener">
        <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <aside class="left_column navbar-collapse collapse">
      <nav class="menu_list">
        <ul>
          <li class="profile" data-toggle="tooltip" data-placement="right" title="Tooltip on right"><a href="#"><picture class="rounded-full profile_image ease"></picture></a></li>
          <li class="portfolio"><a href="#"><i class="icon-photos-2"></i></a></li>
          <li class="talentshow"><a href="#"><i class="icon-diamond"></i></a></li>
          <li class="blog"><a href="#"><i class="icon-newspaper-1"></i></a></li>
          <li class="scraps"><a href="#"><i class="icon-document-box-1"></i></a></li>
          <li class="connection"><a href="#"><i class="icon-connection-3"></i></a></li>
          <li class="report"><a href="#"><i class="icon-file-graph-2"></i></a></li>
        </ul>
      </nav>
    </aside>
    <div class="contents_container">
      <section class="contents_center_column">
      </section>
      <aside class="contents_left_column">
        <section class="contents">
          <%= link_to "logout",destroy_user_session_path, :method => :delete %><br/>
        </section>
      </aside>
      <aside class="contents_right_column">
        <section class="about">
          <h3 class="title">ABOUT</h3>
        </section>
        <section class="education">
          <h3 class="title">EDUCATION</h3>
        </section>
        <section class="work">
          <h3 class="title">WORK</h3>
        </section>
      </aside>
    </div>
  </div>
</div>