<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Facebook properties -->
  <meta property="og:title" content="Wingstar is something"/>
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content="wingstar.net"/>
  <meta property="og:image" content="http://cdn1.editmysite.com/images/theme_contest/screenshots.gif"/>
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('apple-touch-icon-152x152.png') %>">
  <meta name="apple-mobile-web-app-title" content="Wingstar">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-196x196.png') %>" sizes="196x196">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-160x160.png') %>" sizes="160x160">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-96x96.png') %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-16x16.png') %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-32x32.png') %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#23252b">
  <meta name="msapplication-TileImage" content="<%= asset_url('mstile-144x144.png') %>">
  <meta name="application-name" content="Wingstar">
  <title><%= content_for?(:title) ? yield(:title) : "Wingstar" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if flash.present? %>
      <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $(".alert-success").delay(1500).fadeOut(300);
                $(".alert-warning, .alert-danger").delay(5000).fadeOut(300);
            });
        })(jQuery);
      </script>
  <% end %>

  <% if resource.present? && resource.errors.present? %>
    <script type="text/javascript">
        (function($) {
              $(document).ready(function() {
                  $("#flash").delay(5000).fadeOut(300);
              });
        })(jQuery);
    </script>
  <% end %>

  <% if signed_in? %>
      <style>
        <% if current_user.profile_image.present? %>
        .profile_image { background: url("<%= current_user.profile_image %>") no-repeat left top !important; }
        <% end %>
      </style>
  <% end %>
</head>
<body class="default">
<header id="header">
  <div class="logo animate-plus" data-animations="fadeIn" data-animation-when-visible="true" data-animation-reset-offscreen="true">
    <%= link_to t("logo"), root_path %>
  </div>
  <div id="search_container">
    <%= form_tag root_path, method: :get, class: "search_form", role: "search" do %>
        <div class="wrapper">
            <%= text_field_tag :search, params[:search], placeholder: t("placeholder.search"), class: "inner-shadow-focus rounded-5" %>
            <%= button_tag icon('search', '') %>
        </div>
    <% end %>
  </div>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <nav id="top_nav" class="navbar-collapse collapse" role="navigation">
    <ul class="navbar-nav nav">
      <% unless signed_in? %>
      <li class="login"><%= link_to t("top_nav.login_html"), new_user_session_path(resource) %></li>
      <li class="signup"><%= link_to t("top_nav.signup_html"), new_registration_path(resource_name)  %></li>
      <% else %>
      <li class="dropdown settings">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="profile_image">profile image</div><%= name_mapper(current_user) %>
          <span class="caret"></span></a>
        <ul class="dropdown-menu rounded-3" role="menu">
          <li class="settings"><%= link_to t("top_nav.settings_html"), settings_path %></li>
          <li class="logout"><%= link_to t("top_nav.logout_html"), destroy_user_session_path, :method => :delete  %></li>
          <div class="divider"></div>
          <li class="dropdown-header"><%= link_to t("top_nav.help_html"), "#help" %></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </nav>
</header>
<div id="body">
  <%= render "flashes" %>
  <%= yield %>
</div>
</body>
</html>
