<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Facebook properties -->
  <meta property="og:title" content="Wingstar is something"/>
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content="wingstar.net"/>
  <meta property="og:image" content="http://cdn1.editmysite.com/images/theme_contest/screenshots.gif"/>
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('apple-touch-icon-152x152.png') %>">
  <meta name="apple-mobile-web-app-title" content="Wingstar">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-196x196.png') %>" sizes="196x196">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-160x160.png') %>" sizes="160x160">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-96x96.png') %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-16x16.png') %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-32x32.png') %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#23252b">
  <meta name="msapplication-TileImage" content="<%= asset_url('mstile-144x144.png') %>">
  <meta name="application-name" content="Wingstar">
  <title><%= content_for?(:title) ? yield(:title) : "Wingstar" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <% if flash.present? %>
      <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $(".alert-success").delay(1500).fadeOut(300);
                $(".alert-warning, .alert-danger").delay(5000).fadeOut(300);
            });
        })(jQuery);
      </script>
  <% end %>
  <% if resource.present? && resource.errors.present? %>
    <script type="text/javascript">
        (function($) {
              $(document).ready(function() {
                  $("#flash").delay(5000).fadeOut(300);
              });
        })(jQuery);
    </script>
  <% end %>
  <style>
  <% if signed_in? %>
     <% if current_user.profile_image.present? %>
        .profile_image {background: url("<%= current_user.profile_image %>") no-repeat left top !important;}
     <% end %>
  <% end %>
  <% if I18n.locale == :ko %>
     body {font-family: "barun","Helvetica", "Tahoma";}
  <% else %>
     body {font-family: "Helvetica", "Tahoma";}
  <% end %>
  </style>
</head>
<body tabindex="-1">
  <%= render "flashes" %>
  <%= render "login_modal" %>
  <%= render "signup_modal" %>
  <%= yield %>
</body>
</html>
