<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Facebook properties -->
  <meta property="og:title" content="Wingstar is something"/>
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content="wingstar.net"/>
  <meta property="og:image" content="http://cdn1.editmysite.com/images/theme_contest/screenshots.gif"/>
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('apple-touch-icon-152x152.png') %>">
  <meta name="apple-mobile-web-app-title" content="Wingstar">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-196x196.png') %>" sizes="196x196">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-160x160.png') %>" sizes="160x160">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-96x96.png') %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-16x16.png') %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= asset_url('favicon-32x32.png') %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#23252b">
  <meta name="msapplication-TileImage" content="<%= asset_url('mstile-144x144.png') %>">
  <meta name="application-name" content="Wingstar">
  <title><%= content_for?(:title) ? yield(:title) : "Wingstar" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <% if I18n.locale == :ko %>
      <link href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
  <% else %>
      <link href='http://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans' rel='stylesheet' type='text/css'>
  <% end %>
      <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                <% if flash[:success] %>
                $("#flash").delay(3000).fadeOut(300);
                <% else %>
                $("#flash").delay(6000).fadeOut(300);
                <% end %>
            });
        })(jQuery);
      </script>
  <% if resource.present? && resource.errors.present? %>
    <script type="text/javascript">
        (function($) {
              $(document).ready(function() {
                  $("#flash").delay(10000).fadeOut(300);
              });
        })(jQuery);
    </script>
  <% end %>
  <script type="text/javascript">
      $(document).ready(
              function(){

                  $('.delete_manager').on('click', function(){
                      var checkbox = $('.delete_item');
                      checkbox.trigger('click');


                      if ($('body').hasClass('delete_manager_on')) {
                          $('body').removeClass('delete_manager_on');
                          $('.btn_select i').replaceWith('<i class="fa fa-check-circle-o"></i>');

                          $('.btn_select span').text('<%= t("system.text.select_all") %>');
                      } else {
                          $('body').addClass('delete_manager_on');
                          $('.btn_select i').replaceWith('<i class="fa fa-check-circle"></i>');
                          $('.btn_select span').text('<%= t("system.text.cancel_select_all") %>');
                      }

                  });

                  $('.delete_item').change(function(){
                      if ( $(this).is(':checked') ) {
                          $('.submit_delete_manager').prop('disabled', false);
                          $('.submit_delete_manager').removeClass('disabled');
                      } else {
                          $('.submit_delete_manager').prop('disabled', true);
                          $('.submit_delete_manager').addClass('disabled');
                      }
                  });

                  var csrf_token = $('meta[name=csrf-token]').attr('content');
                  var csrf_param = $('meta[name=csrf-param]').attr('content');
                  var params;
                  if (csrf_param !== undefined && csrf_token !== undefined) {
                      params = csrf_param + "=" + encodeURIComponent(csrf_token);
                  }
                  $('.redactor').redactor(
                          { "imageUpload":"/redactor_rails/pictures?" + params,
                              "imageGetJson":"/redactor_rails/pictures",
                              "fileUpload":"/redactor_rails/documents?" + params,
                              "fileGetJson":"/redactor_rails/documents",
                              "path":"/assets/redactor-rails",
                              "lang": "<%= I18n.locale.to_s %>",
                              "css":""}
                  );
                  $('.redactor_air').redactor(
                          { "imageUpload":"/redactor_rails/pictures?" + params,
                              "imageGetJson":"/redactor_rails/pictures",
                              "fileUpload":"/redactor_rails/documents?" + params,
                              "fileGetJson":"/redactor_rails/documents",
                              "path":"/assets/redactor-rails",
                              "lang": "<%= I18n.locale.to_s %>",
                              "air": true,
                              "css":""}
                  );
              });
  </script>
  <style type="text/css">
      body, #header,#body {
      <% if I18n.locale == :ko %>
          font-family: "Nanum Gothic", "barun", "Helvetica", "Tahoma";
      <% else %>
          font-family: "Helvetica";
      <% end %>
      }
      .cover .info .description {
      <% if I18n.locale == :ko %>
          font-family: "Nanum Gothic", "barun", "Helvetica", "Tahoma";
      <% else %>
          font-family: "Noto Serif","open sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      <% end %>
      }
  </style>
</head>
<body tabindex="-1">
  <%= render "flashes" %>
  <% if signed_in? %>
    <%= render "layouts/dashboard" %>
  <% else %>
    <% if request.path == "/"  %>
        <%= render "layouts/intro" %>
    <% else %>
        <%= render "layouts/dashboard" %>
    <% end %>
  <% end %>
  <%= render "login_modal" %>
  <%= render "signup_modal" %>
</body>
</html>
